@model  Octo.Net.UI.ViewModels.UserGalleryArtworkFile

@{
    ViewBag.Title = "Galleries";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<div class="row ">
    <div class="col-md-12 offset-1 mt-3">
        <h2>Gallery Title</h2>

        @foreach (var item in Model.Files)
        {
            <ul>
                <li>
                    @Html.DisplayFor(i => item.Artwork.Title);
                </li>
            </ul>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12 offset-1 mb-3">
        <div class="row">
            <div class="col-sm-2">
                <div class="card" style="width: 15rem;">
                    <img src="~/Content/img/art15c.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-7">
                                <h5 class="card-title font-weight-bold">Artwork Title</h5>
                            </div>
                        </div>
                        <p class="card-text">A description of the art.</p>
                        <p class="btn btn-primary">See More</p>
                        <p class="btn btn-primary">Delete</p>
                        @*@Html.ActionLink("See More", "Artwork", new { id = item.Artwork.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ArtworkId }, new { @class = "btn btn-primary" })*@
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="card" style="width: 15rem;">
                    <img src="~/Content/img/art18c.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-7">
                                <h5 class="card-title font-weight-bold">Artwork Title</h5>
                            </div>
                        </div>
                        <p class="card-text">A description of the art.</p>
                        <p class="btn btn-primary">See More</p>
                        <p class="btn btn-primary">Delete</p>
                        @*@Html.ActionLink("See More", "Artwork", new { id = item.Artwork.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ArtworkId }, new { @class = "btn btn-primary" })*@
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="card" style="width: 15rem;">
                    <img src="~/Content/img/art31.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-7">
                                <h5 class="card-title font-weight-bold">Artwork Title</h5>
                            </div>
                        </div>
                        <p class="card-text">A description of the art.</p>
                        <p class="btn btn-primary">See More</p>
                        <p class="btn btn-primary">Delete</p>
                        @*@Html.ActionLink("See More", "Artwork", new { id = item.Artwork.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ArtworkId }, new { @class = "btn btn-primary" })*@
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>

<div class="row">
    <div class="col-md-12 offset-1 mb-3">
        <div class="row">
            <div class="col-sm-2">
                <div class="card" style="width: 15rem;">
                    <img src="~/Content/img/art29.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-7">
                                <h5 class="card-title font-weight-bold">Artwork Title</h5>
                            </div>
                        </div>
                        <p class="card-text">A description of the art.</p>
                        <p class="btn btn-primary">See More</p>
                        <p class="btn btn-primary">Delete</p>
                        @*@Html.ActionLink("See More", "Artwork", new { id = item.Artwork.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.ArtworkId }, new { @class = "btn btn-primary" })*@
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="card" style="width: 15rem;">
                    <img src="~/Content/img/art34c.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-7">
                                <h5 class="card-title font-weight-bold">Artwork Title</h5>
                            </div>
                        </div>
                        <p class="card-text">A description of the art.</p>
                        <p class="btn btn-primary">See More</p>
                        <p class="btn btn-primary">Delete</p>
                        @*@Html.ActionLink("See More", "Artwork", new { id = item.Artwork.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.ArtworkId }, new { @class = "btn btn-primary" })*@
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="card" style="width: 15rem;">
                    <img src="~/Content/img/art37c.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-7">
                                <h5 class="card-title font-weight-bold">Artwork Title</h5>
                            </div>
                        </div>
                        <p class="card-text">A description of the art.</p>
                        <p class="btn btn-primary">See More</p>
                        <p class="btn btn-primary">Delete</p>
                        @*@Html.ActionLink("See More", "Artwork", new { id = item.Artwork.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.ArtworkId }, new { @class = "btn btn-primary" })*@
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


