@model  Octo.Net.UI.ViewModels.UserGalleryArtworkFile
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

@* Header Image area *@

<div class="jumbotron-fluid profile-banner">
    <div class="row profile-jumbo">
        <div class="col-md-4 profile-image-area">
            @* User Profie image area *@
            @* TODO: The Files property on the User is still coming back null *@
            @*@@if (Model.User.Files.Any(f => f.FileType == Octo.Net.Models.FileType.Avatar))*@
            @foreach (var item in Model.Files)
            {
                if (item.FileType == Octo.Net.Models.FileType.Avatar)
                {
                    var base64 = Convert.ToBase64String(item.Content);
                    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                    
                    <img src="@imgSrc" class="rounded-circle profile-image" alt="@Html.DisplayFor(i => Model.User.UserName)'s profile picture" />
                }
                else
                {
                    < img src = "~/Content/img/usersDefault.png" class="rounded-circle profile-image" alt="@Html.DisplayFor(i => Model.User.UserName)'s profile picture" />
                }
            }
        </div>
        <div class="col-md-8">
            @* Potential other display area *@
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 profile-recent-works">
        <div class="row">
            <div class="col-md-12">
                <h2>Recent Works</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    @* TODO: Get the users gallery and programatically create and fill cards *@
                    @foreach (var item in Model.Files)
                    //@foreach (var artwork in item.Artwork.OrderByDescending(o=>o.DateCreated).Take(5))
                    {
                        if (item.FileType == Octo.Net.Models.FileType.Photo)
                        {
                            var base64 = Convert.ToBase64String(item.Content);
                            var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);

                            <div class="col-md-4 card-spacing">
                                <div class="card" style="width: 18rem;">

                                    <img src="@imgSrc" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-7">
                                                <h5 class="card-title font-weight-bold">@Html.DisplayFor(i => item.Artwork.Title)</h5>
                                            </div>
                                        </div>
                                        <p class="card-text">Artist who enjoys creating mythical creatures and believes the secrets are kept hidden.</p>
                                        <a href="#" class="btn btn-primary">See More</a>
                                    </div>
                                </div>
                            </div>
                        }

                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row profile-lower">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h2>Galleries</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @* Cards showing the users most recent works *@
                <div class="row">
                    @* TODO: Get the users gallery and programatically create and fill cards *@
                    @* TODO: Redesing this card, it should be smaller just show gallery thumbnail and a link to see more *@
                    @foreach (var item in Model.Galleries)
                    {
                        <div class="col-md-4 card-spacing">
                            <div class="card" style="width: 18rem;">
                                <img src="~/Content/img/art29.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-7">
                                            <h5 class="card-title font-weight-bold">@Html.ActionLink(item.GalleryName, "Galleries", new { id = item.Id })</h5>
                                        </div>

                                        @foreach (var item1 in Model.Files)
                                        {
                                            if (item.Id == item1.Artwork.GalleryId)
                                            {

                                            <tr>
                                                <td scope="row">
                                                    @Html.DisplayFor(i => item1.Artwork.Title)
                                                </td>

                                                <td scope="row">
                                                    @Html.ActionLink("View", "Artwork", new { id = item1.Artwork.Id })
                                                </td>

                                            </tr>
                                            }
                                        }

                                    </div>
                                    <p class="card-text">@Html.DisplayFor(i => item.GalleryDescription)</p>
                                    <a href="#" class="btn btn-primary">See More</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        @* Users Social media Feed *@
        @*<h2>@Html.DisplayFor(i=> Model.User.UserName)'s Social Media</h2>
        <ul>
            <li></li>
        </ul>*@
    </div>
</div>



@*<h2>@Html.DisplayFor(i => Model.User.UserName)</h2>

<table>
    <tbody>
        @foreach (var item in Model.Galleries)
        {
            <tr>
                <td scope="row">
                    @Html.ActionLink("Galleries", "Galleries", new { id = item.Id })
                </td>

                <td scope="row">
                    @Html.DisplayFor(i => item.GalleryDescription)
                </td>

            </tr>
            foreach (var item1 in Model.Artworks)
            {
                if (item1.GalleryId == item.Id)
                {
                    <tr>

                        <td scope="row">
                            @Html.DisplayFor(i => item1.Title)
                        </td>

                        <td scope="row">
                            @Html.DisplayFor(i => item1.ArtworkImagePath)
                        </td>

                    </tr>
                }
            }
        }
    </tbody>
</table>*@

@*
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.G)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
*@